In [1]:
import csv

In [2]:
f=['sid','sname','city','contect']

In [3]:
records=[[1,'Payal','Bardoli',1234567890],
         [2,'Jay','Surat',9987654321],
         [3,'Bhumi','Vyara',112233445],
         [4,'Mahira','Navsari',566778899],
         [5,'Krupa','Vapi',119384758]]

In [4]:
l=[]

In [5]:
for i in range(5):
    sid=int(input("Enter Student Id:"))
    sname=input("Enter Student Name:")
    city=input("Enter Student's City:")
    contect=int(input("Enter Student Contect Number:"))
    li=[sid,sname,city,contect]
    l.append(li)

Enter Student Id:6
Enter Student Name:Karan
Enter Student's City:Surat
Enter Student Contect Number:9632587521
Enter Student Id:7
Enter Student Name:Preeti
Enter Student's City:Vyara
Enter Student Contect Number:4751329831
Enter Student Id:8
Enter Student Name:Janvi
Enter Student's City:Bajipura
Enter Student Contect Number:2793158060
Enter Student Id:9
Enter Student Name:Aarti
Enter Student's City:Kamrej
Enter Student Contect Number:7519354823
Enter Student Id:10
Enter Student Name:Chadani
Enter Student's City:Navsari
Enter Student Contect Number:7896541235

In [6]:
with open('student.csv','w',newline='')as csvfile:
    file=csv.writer(csvfile)
    file.writerow(f)
    file.writerows(records)
    file.writerows(l)

In [7]:
with open('student.csv','r')as file:
    read_file=csv.reader(file)
    for records in read_file:
        print(records)

['sid', 'sname', 'city', 'contect']
['1', 'Payal', 'Bardoli', '1234567890']
['2', 'Jay', 'Surat', '9987654321']
['3', 'Bhumi', 'Vyara', '112233445']
['4', 'Mahira', 'Navsari', '566778899']
['5', 'Krupa', 'Vapi', '119384758']
['6', 'Karan', 'Surat', '9632587521']
['7', 'Preeti', 'Vyara', '4751329831']
['8', 'Janvi', 'Bajipura', '2793158060']
['9', 'Aarti', 'Kamrej', '7519354823']
['10', 'Chadani', 'Navsari', '7896541235']